.wallpaper {
  height: 200px;
  overflow: hidden;
}

.wallpaper img {
  width: 100%;
}

.profile_information {
  padding: 15px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 120px 1fr;
}

.profile_information img{
  width: 100%;
}
.about_profile span{
  display: block;
}