
ul {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
span {
  display: inline-block;
}
.app-wrapper {
  display: grid;

  grid-template-areas: 
  "header header"
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 180px 1fr;
  grid-gap: 10px;
}

.app-wrapper .content {
  grid-area: content;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  position: relative;
  padding: 20px;
}

.preloader {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 100px);
}

/*page numbers*/

.page_number {
  margin: 0 1.5px;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}
.page_number:hover {
  border-bottom: 1px solid black;
}

/*profile page*/
.profile_card_status {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
}
.post_status {
  display: inline-flex;
  align-items: center;
  cursor: default;
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
}
.post_status .btn_icon {
  margin: -3px 0 0 5px;
  cursor: pointer;
}

/*Icons*/
.fb {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.gh {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.ig {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.tw {
  background: linear-gradient(45deg, #1da1f2,#0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7)
}
.lk {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}