.users_page {
	margin: 15px;
}

.main_title {
	margin-left: 15px;
}
.selectedPage {
	font-weight: bold;
}
.user_block {
	display: grid;
	grid-template: 85px min-content / 90px 1fr;
	column-gap: 20px;
	grid-template-areas: 
	'photo block'
	'btn block';
	margin: 15px 0;
}
.photo {
grid-area: photo;
height: 60px;
width: 60px;
object-fit: cover;
object-position: top center;
border-radius: 50%;
align-self: center;
justify-self: center;
}
.btn {
	grid-area: btn;
}
.about_user {
	grid-area: block;
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	max-width: 600px;

	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;

}
.location {
	justify-self: end;
}
.status {
	align-self: end;
}