.dialogs {
	display: grid;

	grid-template-columns: min-content 1fr;

	padding: 15px 15px 15px 0;
}

.dialogs_items {
	border-right: 1px solid green;
}

.messages {
	align-self: end;
	margin-left: 10px;
	display: grid;
	grid-template: 1fr / 1fr;

}
