.users_posts {
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.users_posts .icon {
  width: 50px;
  height: 50px;
  background-color: darkgoldenrod;
  border-radius: 50%;
  margin-right: 25px;
}