.user_name {
	padding: 5px 0;
	color: black;
}
.user_name a {
	color: inherit;
	text-decoration: none;
}
.user_name a.active {
	color: wheat;
}
.user_item {
	display: grid;

	grid-template: 40px / 40px 1fr;
	overflow: hidden;
}
.user_item span{
	display: inline-block;
	margin-left: 10px;
	align-self: center;
}
.image {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}