body {
	margin-top: 70px;
}
a:hover, a:visited {
	text-decoration: none;
	color: inherit;
}
.wrapper {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}
header {
	background-color: aquamarine;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
main {
	margin-top: 92px;
}
.header {
	display: grid;
	grid-template-columns: 1fr minmax(100px, auto);
}
.cart {
	align-self: center;
	justify-self: center;
}

.cart button span::before {
	content: '';
	display: inline-block;
	border-radius: 5px 5px 0 0 ;
	width: 12px;
	height: 12px;
	background-color: blue;
	margin: 0 5px 0 0;
}
.product {
	margin-top: 40px;
}
.product .col img {
	max-width: 300px;
}
.checkout_form {
	margin: 40px 0;
}

.form_info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.form-group {
	width: 100%;
}
.verify {
	margin: 25px 0;
	border: 1px solid gray;
	padding: 15px;
	border-radius: 10px;
}

.button-sub {
	display: flex;
	justify-content: flex-end;
}
.inventory-message {
	color: indianred;
	margin: 0 50px 0 10px;
}
.inventory-message.green {
	color: green;
}

.action-block {
	display: flex;
	align-items: center;
}
.rating {
	position: relative;

}
.rating-active::before {
	position: absolute;
	content: '\2605';
}