.main_block {
	display: grid;
	grid-template: min-content 1fr / repeat(3, 1fr);
	color: white;
	grid-column-gap: 5px;
}

.title {
	margin-top: 3rem;
	grid-column: 1/4;
	font-size: 30px;

}

.item {
	display: grid;
	grid-gap: 5px;
	grid-template: 40px 1fr / 1fr;
	justify-items: center;
	width: 100%;

	margin-top: 15px;
}

.image {
	width: 40px;
	height: 100%;
	object-fit: cover;
	object-position: top center;
	border-radius: 50%;
	display: inline-block;
}

.name {
	font-size: 12px;
}