li {
  list-style: none;
}
ul {
  margin: 20px 0 0 15px;
  padding: 0;
}

.nav {
  grid-area: nav;
  background-color: #08583d;
}
.nav ul li a {
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 10px;
}

.nav ul li a.item.active {
  color: gold;
}